article.article
  h3
    a(href='/articles/'+article._id, title=article.title) #{article.title.slice(0, 140)}
  p= article.body.slice(0, 400)

  .meta
    span.text-muted= formatDate(article.createdAt)

    - if (article.user)
      | &nbsp; - &nbsp;
      span Author &nbsp;

      - var name = article.user.name ? article.user.name : article.user.username

      a(href="/users/"+article.user._id)= name

    - if (article.tags)
      | &nbsp; - &nbsp;
      span Tags &nbsp;
      each tag in article.tags.split(',').slice(0, 10)
        i.text-muted.fa.fa-tag &nbsp;
        a.tag(href="/tags/"+tag)= tag
        | &nbsp;&nbsp;
