h1= title

p #{article.body}
- var month_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
- day = article.created_at.getDate()
- month = article.created_at.getMonth()
- year = article.created_at.getFullYear()

p#article_date 
  created on #{month_names[month]} #{day}, #{year}
  
p 
  a(href='/article/'+article._id+'/edit') Edit
  
p
  a(href='/articles') Back
