extends ../layouts/mobile

block main
  h1= title

block content
  - each table in tables
  .article
    h3
      a(href='/tables/'+table._id, title=table.title) #{table.title}
    p= table.body

    .meta.muted
      span= formatDate(table.createdAt)
      | &nbsp; - &nbsp;
      span Author &nbsp;

      - var name = table.user.name ? table.user.name : table.user.username

      a(href="/users/"+table.user._id)= name
      &nbsp; - &nbsp;
      - if (table.tags)
      - each tag in table.tags.split(',')
        | &nbsp;
        a.tag(href="/tags/"+tag)
          i.icon-tags
          |  #{tag}

  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
